  <!-- Page Header Start -->
  <div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Authors Login</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a >Home</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Authors Login</p>
        </div>
    </div>
</div>
<!-- Page Header End -->

<!-- Contact Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <div class="col-lg-12 mb-5">
            <div class="contact-form">
                <div id="success"></div>
                <form [formGroup] ="loginForm" (ngSubmit)="userLogin()"  id="contactForm">
                    

                    <div class="control-group mb-20">
                        <input type="email" class="form-control" id="email" placeholder="Email"
                            required="required" formControlName ="email" data-validation-required-message="Please enter your email" />
                       <div *ngIf="submitted && f['email'].errors" class="help-block text-danger">
                            <p *ngIf="f['email'].errors['required']">Email is required</p>
                        </div>
                    </div>

                    <div class="control-group mb-20">
                        <input type="password" class="form-control" id="password" placeholder="Password"
                            required="required" formControlName ="password"  />
                        <div *ngIf="submitted && f['password'].errors" class="help-block text-danger">
                            <p *ngIf="f['password'].errors['required']">Password is required</p>
                        </div>
                    </div>
                    
                    <div>
                        <button [disabled]="loading" type="submit" class="btn btn-primary py-2 px-4">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                            Login
                        </button>
                        <a routerLink="../registration" class="btn btn-link">Register</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->