<div>
    <h3>Registration</h3>

        <form #registration="ngForm" (ngSubmit)="userRegistrtion()">
        <input type="text" name="first_name" placeholder="First Name">
        <input type="text" name="last_name" placeholder="Last Name">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <input type="password" name="confirm_password" placeholder="Confirm Password">
        <input type="submit" value="Register">
      </form>

</div>
