<div>
    <h3>Registration</h3>

        <form [formGroup] ="registrationForm" (ngSubmit)="userRegistrtion()">
        <input type="text" formControlName ="first_name" placeholder="First Name">
        <input type="text" formControlName ="last_name" placeholder="Last Name">
        <input type="email" formControlName="email" placeholder="Email">
        <input type="password" formControlName="password" placeholder="Password">
        <input type="password" formControlName="confirm_password" placeholder="Confirm Password">
        <input type="submit" value="Register">
      </form>

</div>
